In this notebook, you'll see how to connect to a Postgres database using the sqlalchemy library.

For this notebook, you'll need both the `sqlalchemy` and `psycopg2` libraries installed.

In [1]:
#!pip install psycopg2-binary

In [1]:
!pip install psycopg2

Requirement already satisfied: psycopg2 in c:\users\praveena\anaconda3\lib\site-packages (2.9.10)

In [3]:
from sqlalchemy import create_engine, text

First, we need to create a connection string. The format is

 ```<dialect(+driver)>://<username>:<password>@<hostname>:<port>/<database>```

To connect to the Lahman baseball database, you can use the following connection string.

In [24]:
database_name = 'prescribed'    # Fill this in with your prescribers database name

connection_string = f"postgresql://postgres:postgres@localhost:5432/{database_name}"

Now, we need to create an engine and use it to connect.

In [27]:
engine = create_engine(connection_string)

sqlalchemy works well with pandas to convert query results into dataframes.

In [30]:
import pandas as pd

First, let's write a meaningful query.

In [40]:
query = 'select * from prescriber'

Now, bring it all together using the following syntax.

In [43]:
with engine.connect() as connection:
    people = pd.read_sql(text(query), con = connection)

people.head()

,npi,nppes_provider_last_org_name,nppes_provider_first_name,nppes_provider_mi,nppes_credentials,nppes_provider_gender,nppes_entity_code,nppes_provider_street1,nppes_provider_street2,nppes_provider_city,nppes_provider_zip5,nppes_provider_zip4,nppes_provider_state,nppes_provider_country,specialty_description,description_flag,medicare_prvdr_enroll_status
0,1.003000e+09,BLAKEMORE,ROSIE,K,FNP,F,I,TENNESSEE PRISON FOR WOMEN,3881 STEWARTS LANE,NASHVILLE,37243,0001,TN,US,Nurse Practitioner,S,N
1,1.003012e+09,CUDZILO,COREY,None,M.D.,M,I,2240 SUTHERLAND AVE,SUITE 103,KNOXVILLE,37919,2333,TN,US,Pulmonary Disease,S,E
2,1.003013e+09,GRABENSTEIN,WILLIAM,P,M.D.,M,I,1822 MEMORIAL DR,None,CLARKSVILLE,37043,4605,TN,US,Family Practice,S,E
3,1.003014e+09,OTTO,ROBERT,J,M.D.,M,I,2400 PATTERSON STREET SUITE 100,None,NASHVILLE,37203,2786,TN,US,Orthopedic Surgery,S,E
4,1.003018e+09,TODD,JOSHUA,W,M.D.,M,I,1819 W CLINCH AVE,SUITE 108,KNOXVILLE,37916,2435,TN,US,Cardiology,S,E

In [49]:
query1 = ''' select  
		f1.county
	,	count(opioid_drug_flag) as total_count
from prescriber p1
join prescription as p2
using(npi)
join drug as d1
using(drug_name)
join zip_fips as z1
on z1.fipscounty = p1.nppes_provider_zip5
join fips_county as f1
on f1.fipscounty =z1.fipscounty 
where p1.nppes_provider_state ilike 'TN' and d1.opioid_drug_flag ilike 'Y'
group by f1.county
order by total_count desc '''

with engine.connect() as connection:
    people = pd.read_sql(text(query1), con = connection)

people.head()

        county  total_count
0      FORSYTH        12516
1  NEW HANOVER         6360
2         CASS         5480
3      HAYWOOD         3757
4     BEAUFORT         3528

For much more information about SQLAlchemy and to see a more “Pythonic” way to execute queries, see Introduction to Databases in Python: https://www.datacamp.com/courses/introduction-to-relational-databases-in-python